html {
    background-color: aquamarine;
}
body {
	margin: auto;
	font-size: 20px;
	overflow-x: scroll;
	overflow-y:scroll; 
}
img {
    margin:auto;
}
p {
	margin-left: auto;
}
header{
	background: #333;
	color: white;
	margin: 0;
}

header h1 {
	margin: 0;
	float: left;
	padding: 10px 0 10px 15px;
}

header a {
	color: white;
    text-decoration: none;
	margin:0 auto;
}
nav ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover:not(.active) {
    background-color: #5389e0;
}

nav .active {
    background-color: #5389e0;
}
#image {
    position: relative;
    bottom: 200px;
    left: 1025px;
}
#text {
    width: 1000px;
    padding: 10px;
    border: 5px;
    margin: 0; 
}
a #links:active {
    text-decoration: none;
    color: black;
}
a #links:link {
    text-decoration: none;
    color: black;
}
a #links:visited {
    text-decoration: none;
    color: black;
}
.dropdown {
    float: left;
    overflow: hidden;
}
.container {
    overflow: hidden;
    background-color: #333;
}

.container a {
    float: left;
    font-size: 18px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown .dropbtn {
    font-size: 18px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}
.dropbtn {
    font-family: serif;
}
.container a:hover, .dropdown:hover .dropbtn {
    background-color: #5389e0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.img {
    position: relative;
    bottom: 150px;
    margin-left: 15%;
}
.button {
    margin-left: 50%
}
#Terraria {
    margin-left: 30%;
}
#KSP {
    margin-left: 20%;
}
#portal {
    margin-left: 20%;
}